<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VascularSurgeryProject"
        tools:targetApi="31">
        <activity
            android:name=".Favorites"
            android:exported="false" />
        <activity
            android:name=".Anatomy"
            android:exported="false" />
        <activity
            android:name=".Diagnostics_and_Imaging"
            android:exported="false" />
        <activity
            android:name=".Clinical_Reference"
            android:exported="false" />
        <activity
            android:name=".Pathophysiology"
            android:exported="false" />
        <activity
            android:name=".Physiology"
            android:exported="false" />
        <activity
            android:name=".Rotations_Essentials"
            android:exported="false" />
        <activity
            android:name=".Exam_and_Skills"
            android:exported="false" />
        <activity
            android:name=".Anatomy_Viewer"
            android:exported="false" />
        <activity
            android:name=".New_in_Vascular_Surgery"
            android:exported="false" />
        <activity
            android:name=".Common_Bloodwork"
            android:exported="false" />
        <activity
            android:name=".Peripheral_Exam_B"
            android:exported="false" />
        <activity
            android:name=".ABI_Scores"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>